<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zulfiqar.com.passwordauth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application

        android:name=".AppContoller"
        android:allowBackup="true"
        android:icon="@mipmap/al_ansaar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PasswordAuthActivity"
            android:screenOrientation="portrait"
            >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>
        <activity android:name=".UserProfile"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            >
        </activity>

        <service android:name=".FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Fundamentals"
            android:screenOrientation="portrait"
            />
        <activity android:name=".Notify"
            android:screenOrientation="portrait"
            />
        <activity android:name=".HomeChooser"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ChangeChannelActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ChannelActivity"></activity>
        <activity android:name=".VideoActivity"></activity>
        <activity android:name=".Contact_Creator"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/al_ansaar" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorWhite" />

    </application>

</manifest>